In [1]:
##World war craft EDA

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os

from zipfile import ZipFile

In [ ]:
os.listdir('data/')

In [26]:
zones = pd.read_csv(ZipFile("data/Avatar prediction.zip").open('zones.csv'),encoding='utf-8')

In [34]:
wowah = pd.read_csv('data/wowah_data.csv', sep=',', error_bad_lines=False)

In [ ]:
location = pd.read_csv(ZipFile("data/Avatar prediction.zip").open('locations.csv'),encoding='utf-8')

In [27]:
zones.head()

,Zone_Name,Continent,Area,Zone,Subzone,Type,Size,Controlled,Min_req_level,Min_rec_level,Max_rec_level,Min_bot_level,Max_bot_level
0,Durotar,Kalimdor,Central Kalimdor,Durotar,NaN,Zone,NaN,Horde,1,1.0,10.0,1.0,10.0
1,The Barrens,Kalimdor,Central Kalimdor,The Barrens,NaN,Zone,NaN,Contested,1,10.0,35.0,10.0,35.0
2,Silverpine Forest,Eastern Kingdoms,Lordaeron,Silverpine Forest,NaN,Zone,NaN,Horde,1,10.0,20.0,10.0,20.0
3,Stonetalon Mountains,Kalimdor,Central Kalimdor,Stonetalon Mountains,NaN,Zone,NaN,Contested,1,25.0,30.0,25.0,30.0
4,Thunder Bluff,Kalimdor,Central Kalimdor,Thunder Bluff,NaN,City,NaN,Horde,1,1.0,100.0,1.0,100.0

In [ ]:
zones.zone.describe()

In [35]:
wowah.head()

,char,level,race,charclass,zone,guild,timestamp
0,59425,1,Orc,Rogue,Orgrimmar,165,01/01/08 00:02:04
1,65494,9,Orc,Hunter,Durotar,-1,01/01/08 00:02:04
2,65325,14,Orc,Warrior,Ghostlands,-1,01/01/08 00:02:04
3,65490,18,Orc,Hunter,Ghostlands,-1,01/01/08 00:02:04
4,2288,60,Orc,Hunter,Hellfire Peninsula,-1,01/01/08 00:02:09

In [71]:
wowah.columns = wowah.columns.str.strip()

In [72]:
wowah.shape

(10826734, 7)

In [73]:
wowah.rename(columns={'char':'char', 'level':'level', 'race': 'race', 'charclass':'charclass', 'zone':'zone', 'guild':'guild', 'timestamp':'timestamp'}, inplace=True)

In [74]:
wowah.info

<bound method DataFrame.info of            char  level       race     charclass                zone  guild  \
0         59425      1        Orc         Rogue           Orgrimmar    165
1         65494      9        Orc        Hunter             Durotar     -1
2         65325     14        Orc       Warrior          Ghostlands     -1
3         65490     18        Orc        Hunter          Ghostlands     -1
4          2288     60        Orc        Hunter  Hellfire Peninsula     -1
...         ...    ...        ...           ...                 ...    ...
10826729  86766     80  Blood Elf  Death Knight  Halls of Lightning    101
10826730  86497     77  Blood Elf  Death Knight     The Storm Peaks    358
10826731  34893     80  Blood Elf  Death Knight     The Storm Peaks    189
10826732  86881     80  Blood Elf  Death Knight        Dragonblight    478
10826733  86457     80  Blood Elf  Death Knight        Dragonblight    204

                  timestamp
0         01/01/08 00:02:04
1         01/01/08 00:02:04
2         01/01/08 00:02:04
3         01/01/08 00:02:04
4         01/01/08 00:02:09
...                     ...
10826729  12/31/08 23:50:18
10826730  12/31/08 23:50:18
10826731  12/31/08 23:50:18
10826732  12/31/08 23:50:18
10826733  12/31/08 23:50:18

[10826734 rows x 7 columns]>

In [77]:
wowah['charclass'].describe()

count     10826734
unique          10
top         Hunter
freq       1549924
Name: charclass, dtype: object

In [ ]:
wowah.charclass.mean()

In [ ]:
wowah.charclass.isnull().sum()

In [ ]:
wowah['charclass'] = wowah['charclass'].map(lambda x: float(x))

In [ ]:
wowah.charclass.dtype()

In [ ]:
wowah.race.value_counts().plot(kind = "bar",title = "histogram of number of race")
plt.xlabel = "Race"
plt.ylabel = "Count"

In [ ]:
wowah.charclass.value_counts().plot(kind = "bar",title = "histogram of number of character class")
plt.xlabel = "Character Class"
plt.ylabel = "Count"